.tg {border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-qn17{background-color:#34696d;color:#efefef;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg tr:hover {
    background-color: #FFD175; 
    cursor: pointer; /* Cambia el cursor a una mano (pointer) */
}
.tg tr {
    transition: background-color 0.3s; /* Agrega una transición suave */
}